{% load static %}

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TCG Binder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="//fonts.cdnfonts.com/css/pokemon-solid?styles=24573" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>

    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class="nav-color">
                    <li>
                        <a href="/" class="left brand-logo" style="color:#039be5"> Caught This Pokemon</a>
                    </li>
                </ul>
                <ul class="right" style="color:#039be5">
                    <li><a href="{% url 'about' %}" style="color:#039be5">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'cards_create' %}" style="color:#039be5">Caught Another One?</a></li>
                    <li><a href="{% url 'index' %}" style="color:#039be5">View My Cards</a></li>
                    <li><a href="{% url 'logout' %}" style="color:#039be5">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}" style="color:#039be5">Sign Up</a></li>
                    <li><a href="{% url 'login' %}" style="color:#039be5">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
        <div class="right">
            All Rights Reserved, © 2019 Caught this Pokemon
        </div>
    </footer>
</body>

</html>